// red
$red: rgba(255, 0, 0, 1);
$satanya: rgba(230, 110, 110, 1);
// green
$green: rgba(0, 255, 0, 1);
$shion: rgba(130, 210, 160, 1);
// blue
$blue: rgba(0, 0, 255, 1);
$remu: rgba(130, 170, 225, 1);
$shirufuin: rgba(130, 190, 235, 1);
// yellow
$yellow : rgba(255, 255, 0, 1);
$gavuriru: rgba(250, 225, 140, 1);
$umaru: rgba(250, 220, 180, 1);
// orange
$orange: rgba(255, 165, 0, 1);
$kokoa: rgba(240, 200, 160, 1);
// pink
$pink: rgba(255, 192, 203, 1);
$chika: rgba(240, 220, 220, 1);
// purple
$purple: rgba(128, 0, 128, 1);
$rize: rgba(90, 60, 100, 1);
// white
$white: rgba(255, 255, 255, 1);
$chino: rgba(230, 230, 250, 1);
// black
$black: rgba(0, 0, 0, 1);

$temp: rgb(28, 165, 206);
